<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Interface de prévision{% endblock %}</title>
        
        {% stylesheets 'bundles/basecore/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <div class="blockFooter">
            {% block footer %}
                <footer class="footer">
                    <div class="container">
                        <p class="text-muted text-center">Service Expertise - Maïa Eolis</p>
                    </div>
                </footer>
            {% endblock %}
        </div>
        
        {% javascripts 'bundles/basecore/js/bootstrap.js'
                       'bundles/basecore/js/npm.js'
                       'bundles/basecore/js/threeview.js'
                       'bundles/basecore/js/jquery.js'
                       'bundles/basecore/js/jquery-ui.js' %}
            <script src="{{ asset_url }}"></script>
            <script>
                // permet d'afficher les datepicker de l'interface
                $(".datepicker").datepicker({dateFormat: 'dd/mm/yy',
                                                        firstDay:1
                                                    }).attr("readonly","readonly");

                // permet de gérer les checkbox en cascade du menu latéral gauche (lorsqu'on
                // coche un parc, toutes les turbines sont cochées)
                $(".acidjs-css3-treeview").delegate("label input:checkbox", "change", function() {
                    var
                        checkbox = $(this),
                        nestedList = checkbox.parent().next().next(),
                        selectNestedListCheckbox = nestedList.find("label:not([for]) input:checkbox");
                 
                    if(checkbox.is(":checked")) {
                        return selectNestedListCheckbox.prop("checked", true);
                    }
                    selectNestedListCheckbox.prop("checked", false);
                });
            </script>

        {% endjavascripts %}
    </body>
</html>