{% extends "BaseCoreBundle::layout.html.twig" %}

{% block content %}
	{{ parent() }}
	{{ render(controller('BaseCoreBundle:Menu:menu')) }}
	
	<div class="container">
		<ul>
			{% for statusCode in statusCodes %}
				<li>
					{{ statusCode.0 }}
				</li>	
			{% endfor %}
	</ul>
	</div>

{% endblock %}